body {
    background-color: #F8F8F8;
    font-family: 'Roboto Mono', monospace;
}

.logo {
    font-size: 30px;
    color: #6573A0
}

.excl {
    color: #E27781
}

.ncsdgr {
    color: #000000
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5rem 5.5rem;
    align-items: center;
}

.back-btn {
    padding: 3px 2rem;
    background-color: #83EF86;
    color: #000000;
    border: none;
    font-size: 17px
}

.publish-btn:hover {
    background-color: rgb(198, 230, 199);
}

.publish-btn:active {
    background-color: #83EF86;
}

.big-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20rem 13rem 25rem 13rem;
    color: #1A1C23;
}

.big-title {
    color: #1A1C23;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
    line-height: 5rem;
}

.small-title {
    color: #1A1C23;
    font-size: 36.5px;
    text-align: center;
}

.generate-by-link-container {
    display: flex;
    flex-direction: column;
    background-color: #282A35;
    padding: 7rem 3rem;
    margin: 0 0 7rem 0;
    text-align: center;
    color: #ffffff;
    align-items: center;
}

.vacancy {
    background-color: #1A1C23;
    height: 12rem;
    width: 90rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.v-start-container {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.v-mid-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.v-end-container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3rem;
    align-items: flex-end;
}

.v-tags {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
}

.v-tech {
    background-color: #E27781;
    font-size: 14px;
    padding: 2px 1.4rem;
    color: #000000;
    margin: 1px;
    width: 120px;
    text-align: center;
}

.v-type {
    background-color: #6573A0;
    font-size: 14px;
    padding: 2px 1.4rem;
    color: #000000;
    margin: 1px;
    width: 120px;
    text-align: center;
}

.city {
    text-align: end;
    font-size: 20px;
}

.respond-btn {
    margin-top: 3rem;
    padding: 3px 2rem;
    background-color: #83EF86;
    color: #000000;
    border: none;
}

.respond-btn:hover {
    background-color: rgb(198, 230, 199);
}

.respond-btn:active {
    background-color: #83EF86;
}

.employer_logo {
    height: 6rem;
    width: 6rem;
    margin: 2.5rem;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    margin: 0;
    text-align: start;
}

.gen-content {
    margin-top: 5rem;
    font-size: 17px;
}

.gi {
    margin-top: 1rem;
}

.gen-form {
    display:flex;
    flex-direction:column;
    align-items: center;
    color: #000000;
}

.gen-btn {
    background-color: #EA80BF;
    padding: 3px 2rem;
    font-size: 17px;
    color: #000000;
    border: none;
    width: 27rem;
    margin-top: 2rem;
}

.hhru-link {
    background-color: #1A1C23;
    border: none;
    width: 35rem;
    height: 4rem;
    font-size: 20px;
    color: #ffffff;
}

.gen-btn:hover {
    background-color: #e4a7cb;
}

.gen-btn:active {
    background-color: #EA80BF;
}

.fill-in-btn {
    background-color: #F5BA78;
    padding: 3px 2rem;
    font-size: 17px;
    color: #000000;
    border: none;
    width: 27rem;
}

.fill-in-btn:hover {
    background-color: #eecaa0;
}

.fill-in-btn:active {
    background-color: #F5BA78;
}

.footer {
    width: 100%;
    height: 20rem;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #1A1C23;
}

.footer-name {
    font-size: 40px;
    line-height: 3rem;
    color: #6573A0;
}

.footer-small-name {
    font-size: 20px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 5rem;
    margin-top: 3rem;
}

.footer-right {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}
 
.flb {
    font-weight: 900;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20rem;
}

.editor-container {
    display: flex;
    flex-direction: column;
    background-color: #282A35;
    padding: 7rem 3rem;
    margin: 0 0 7rem 0;
    text-align: center;
    color: #ffffff;
    align-items: center;
}

.editor-form {
    display: flex;
    flex-direction: column;
    align-items: center;   
    color: #000000; 
}

.editor-form>.e-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.e-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.e-form {
    display: flex;
    flex-direction: column;
    margin: 5rem 0.5rem 0 0.5rem;}

.e-title {
    font-size: 20px;
    margin-bottom: 2rem;
}

.selectize-input {
    background-color: #1A1C23;
    color: #ffffff;
    border: none;
    border-radius: 0;
}

.selectize-dropdown-content {
    background-color: #1A1C23;
}

.selectize-dropdown .optgroup-header {
    background-color: #1A1C23;
    color: #6573A0;
}

.selectize-dropdown .option {
    color: #ffffff;
}

.option.active {
    color: #1A1C23;
}

.selectize-control.multi .selectize-input>div {
    background-color: #6573A0;
    color: #000000;
}

.f-inp {
    background-color: #1A1C23;
    color: #ffffff;
    border: none;
    width: 25rem;
    height: 4rem;
    font-size: 20px;
}

label {
    text-align: start;
    color: #ffffff;
    margin-top:1rem;
    font-weight: 300;
}

.li-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.li-group>label {
    font-family: 'Roboto Mono', monospace;

}

.dropdown-menu {
    background-color: #1A1C23;
    height:40rem;
    overflow-y:auto;
    width: 25rem;
}

.dropdown-menu>li>a {
    color: #ffffff;
}

.dropdown-header {
    color: #6573A0;
}

#dd-button {
    background-color: #1A1C23;
    color: #ffffff;
    width: 25rem;
    height: 4rem;
    border: none;
    border-radius: 0;
}

.tags-editor {
    width: 30rem;
}

.payment-container {
    display: flex;
    flex-direction: column;
    background-color: #282A35;
    padding: 7rem 3rem;
    margin: 0 0 7rem 0;
    text-align: center;
    color: #ffffff;
    align-items: center;
}

.pay-btn {
    margin: 3rem 0;
    padding: 3px 2rem;
    background-color: #83EF86;
    color: #000000;
    border: none;
}

.pay-btn:hover {
    background-color: rgb(198, 230, 199);
}

.pay-btn:active {
    background-color: #83EF86;
}

.pay-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    display: flex;
    height: 45rem;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    justify-content: center;
}

.info-header {
    font-size: 25px;
}