<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% csrf_token  %}
        {% load static %}
        <title>Hiring</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- qiwi popups -->
        <script src='https://oplata.qiwi.com/popup/v1.js'></script>
        <!-- selectize-js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha512-hgoywpb1bcTi1B5kKwogCTG4cvTzDmFCJZWjit4ZimDIgXu7Dwsreq8GOQjKVUxFwxCWkLcJN5EN0W0aOngs4g==" crossorigin="anonymous"></script>        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha512-nATinx3+kN7dKuXEB0XLIpTd7j8QahdyJjE24jTJf4HASidUCFFN/TkSVn3CifGmWwfC2mO/VmFQ6hRn2IcAwg==" crossorigin="anonymous" />
        <!--load static files-->
        <link rel="stylesheet" href="{% static 'hiring.css' %}">
        <script src="{% static 'hiring.js' %}"></script>
        <script src="{% static 'index.js' %}"></script>
        <script src="{% static 'utils.js' %}"></script>
        <script src="{% static 'components.js' %}"></script>
    </head>
    <body>
        <div class="header">
            <p class="logo">{<span class='excl'>!</span><span class="ncsdgr">csdegree</span>}</p>
            <button class="back-btn" onclick="location.href='{% url 'index' %}'">Вернуться на главную</button>
        </div>
        <div class="big-text">
            <div class="title-container">
                <p class="big-title">Разработчики найдут вас сами</p>
                <p class="small-title">Просто разместите свою вакансию у нас на сайте</p>
            </div>
        </div>
        <div class="info-container" style="background-color: #6573A0;">
            <div class="info">
                <p class="info-header">Алгоритм размещения:</p>
                <ol>
                    <li class="info-body">Сгенерировать / заполнить вашу вакансию</li>
                    <li class="info-body">Оплатить</li>
                    <li class="info-body">Опубликовать вакансию</li>
                </ol>
            </div>
            <div class="info">
                <p class="info-header">Условия размещения:</p>
                <ol>
                    <li class="info-body">Стоимость размещения вакансии - 300 российских рублей</li>
                    <li class="info-body">Вакансия будет опубликована на сайте как только вы ее оплатите</li>
                    <li class="info-body">Вакансия появится в самом начале списка вакансий</li>
                    <li class="info-body">Срок размещения - навсегда или до вашей просьбы удаления</li>
                    <li class="info-body">Соискатели смогут найдут вашу вакансию:</li>
                    <ol type="a">
                        <li class="info-body">на главном меню сайта</li>
                        <li class="info-body">выбрав один из тэгов, указанных вами в вакансии</li>
                        <li class="info-body">выбрав город, указанный вами в вакансии</li>
                    </ol>
                </ol>
            </div>
        </div>
        <div class="main-container"></div>
        <div class="footer">
            <div class="footer-left">
                <p class="footer-name">nocsdegree.ru</p>
                <p class="footer-small-name">Подбор вакансий происходит с hh.ru</p>
            </div>
            <div class="footer-right">
                <div class="footer-info-container">
                    <p class="flb">Ваши данные</p>
                    <a style="color:#1A1C23;" href="https://drive.google.com/file/d/1ZQaiaRxoEKRD_j760pr9DaX0L7NRralQ/view?usp=sharing">Политика обработки
                        персональных данных</a>
                </div>
                <div class="footer-info-container">
                    <p class="flb">Контакты</p>
                    <a style="color:#1A1C23;" id="email">E-mail</a>
                </div>
            </div>
        </div>
        <script>
            utils.csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $(document).ready(() => {
                components.renderGenerator(hiring.state.job)
                app.handlers.setupEmail()
                // console.log(components.renderVacancy(hiring.state.job))
                $(document).on('click', '.fill-in-btn', (e) => {
                    e.preventDefault();
                    $('.city-to-replace').replaceWith(components.cityDropdownMenu())
                    // handle dropdown-menu logic
                    $(".dropdown-menu a").on('click', function(e) {
                        e.preventDefault();
                        let city = $(this).text();
                        document.getElementById('dd-button').innerHTML = city + " " + "<span class='caret'></span>"
                        document.getElementsByClassName('city')[0].innerHTML = city;
                        // request object is from static/script.js
                        hiring.state.job.tags.city = city
                    });
                    $('.tags-editor').selectize({
                        labelField: 'name',
                        optgroupField: 'tag',
                        plugins: ['remove_button'],
                        options: [
                            {value: 'fullstack', tag: 'type', name: 'Fullstack'},
                            {value: 'frontend', tag: 'type', name: 'Frontend'},
                            {value: 'backend', tag: 'type', name: 'Backend'},
                            {value: 'mobile', tag: 'type', name: 'Mobile'},
                            {value: 'junior', tag: 'type', name: 'Junior'},
                            {value: 'python', tag: 'tech', name: 'Python'},
                            {value: 'java', tag: 'tech', name: 'Java'},
                            {value: 'javascript', tag: 'tech', name: 'JavaScript'},
                            {value: 'c#', tag: 'tech', name: 'C#'},
                            {value: 'c++', tag: 'tech', name: 'C++'},
                            {value: 'go', tag: 'tech', name: 'Go'},
                            {value: 'php', tag: 'tech', name: 'PHP'},
                        ],
                        optgroups: [
                            {value: 'type', label: 'Тип'},
                            {value: 'tech', label: 'Технологии'}
                        ],
                        maxItems: 5,
                        searchField: ['name', 'tag'],
                        onItemAdd: (value) => {
                            const techtags = ['Python', 'Java', 'JavaScript', 'C#', 'C++', 'Go', 'PHP'].map(i => i.toLowerCase())
                            const typetags = ['Fullstack', 'Frontend', 'Backend', 'Mobile', 'Junior'].map(i => i.toLowerCase())
                            let tagtype;
                            if (techtags.includes(value)) {
                                hiring.state.job.tags.tech.push(value)
                                tagtype = 'tech'
                            } else {
                                hiring.state.job.tags.type.push(value)
                                tagtype = 'type'
                            };
                            $('.v-tags').append(`<div class="v-${tagtype}">${value}</div>`)
                        },
                        onItemRemove: (value) => {
                            const techtags = ['Python', 'Java', 'JavaScript', 'C#', 'C++', 'Go', 'PHP'].map(i => i.toLowerCase())
                            const typetags = ['Fullstack', 'Frontend', 'Backend', 'Mobile', 'Junior'].map(i => i.toLowerCase())
                            let tags = '';
                            hiring.state.job.tags.tech = hiring.state.job.tags.tech.filter(t => t !== value)
                            hiring.state.job.tags.type = hiring.state.job.tags.type.filter(t => t !== value)
                            for(const t of hiring.state.job.tags.type) {
                                tags += `<div class="v-type">${t}</div>`
                            }
                            for(const t of hiring.state.job.tags.tech) {
                                tags += `<div class="v-tech">${t}</div>`
                            }
                            $('.v-tags').html(tags)
                        },
                        delimiter: ',',
                        persist: false,
                        render: (item) => item.name
                    });
                })    
            })
                   
        </script>
    </body>
</html>