<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% csrf_token  %}
        {% load static %}
        <title>Hiring</title>
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- qiwi popups -->
        <script src='https://oplata.qiwi.com/popup/v1.js'></script>
        <!-- selectize-js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha512-hgoywpb1bcTi1B5kKwogCTG4cvTzDmFCJZWjit4ZimDIgXu7Dwsreq8GOQjKVUxFwxCWkLcJN5EN0W0aOngs4g==" crossorigin="anonymous"></script>        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha512-nATinx3+kN7dKuXEB0XLIpTd7j8QahdyJjE24jTJf4HASidUCFFN/TkSVn3CifGmWwfC2mO/VmFQ6hRn2IcAwg==" crossorigin="anonymous" />
        <!--load static files-->
        <link rel="stylesheet" href="{% static 'hiring.css' %}">
        <script src="{% static 'hiring.js' %}"></script>
        <script src="{% static 'utils.js' %}"></script>
        <script src="{% static 'components.js' %}"></script>
    </head>
    <body>
        <div class="header">
            <p class="logo">{<span class='excl'>!</span><span class="ncsdgr">csdegree</span>}</p>
            <button class="back-btn" onclick="location.href='{% url 'index' %}'">Вернуться на главную</button>
        </div>
        <div class="big-text">
            <div class="title-container">
                <p class="big-title">Разработчики найдут вас сами</p>
                <p class="small-title">Просто разместите свою вакансию у нас на сайте</p>
            </div>
        </div>
        <div class="main-container"></div>
        <div class="footer"></div>
        <script>
            utils.csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            hiring.handlers.switchToGenerator();
            $(document).ready(() => {
                $(document).on('click', '.fill-in-btn', (e) => {
                    e.preventDefault();
                    $('.city-to-replace').replaceWith(components.cityDropdownMenu())
                    // handle dropdown-menu logic
                    $(".dropdown-menu a").on('click', function(e) {
                        e.preventDefault();
                        let city = $(this).text();
                        document.getElementById('dd-button').innerHTML = city + " " + "<span class='caret'></span>"
                        document.getElementsByClassName('city')[0].innerHTML = city;
                        // request object is from static/script.js
                        hiring.state.job.tags.city = city
                    });
                    $('.tags-editor').selectize({
                        labelField: 'name',
                        optgroupField: 'tag',
                        plugins: ['remove_button'],
                        options: [
                            {value: 'fullstack', tag: 'type', name: 'Fullstack'},
                            {value: 'frontend', tag: 'type', name: 'Frontend'},
                            {value: 'backend', tag: 'type', name: 'Backend'},
                            {value: 'mobile', tag: 'type', name: 'Mobile'},
                            {value: 'junior', tag: 'type', name: 'Junior'},
                            {value: 'python', tag: 'tech', name: 'Python'},
                            {value: 'java', tag: 'tech', name: 'Java'},
                            {value: 'javascript', tag: 'tech', name: 'JavaScript'},
                            {value: 'c#', tag: 'tech', name: 'C#'},
                            {value: 'c++', tag: 'tech', name: 'C++'},
                            {value: 'go', tag: 'tech', name: 'Go'},
                            {value: 'php', tag: 'tech', name: 'PHP'},
                        ],
                        optgroups: [
                            {value: 'type', label: 'Тип'},
                            {value: 'tech', label: 'Технологии'}
                        ],
                        maxItems: 5,
                        searchField: ['name', 'tag'],
                        onItemAdd: hiring.handlers.addTag,
                        onItemRemove: hiring.handlers.removeTag,
                        delimiter: ',',
                        persist: false,
                        render: (item) => item.name
                    });
                })    
            })
                   
        </script>
    </body>
</html>