<html>
    <head>
        {% csrf_token  %}
        {% load static %}
        <title>Index</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <!--load static files-->
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <script src="{% static 'index.js' %}"></script>
        <script src="{% static 'hiring.js' %}"></script>
        <script src="{% static 'utils.js' %}"></script>
        <script src="{% static 'components.js' %}"></script>
    </head>
    <body>
        <div class="header">
            <p class="logo">{<span class='excl'>!</span><span class="ncsdgr">csdegree</span>}</p>
            <button class="publish-btn" onclick="location.href='{% url 'create_bill' %}'">Разместить вакансию</button>
        </div>
        <div class="big-text">
            <div class="title-container-left">
                <p class="big-title-left">Software Developer</p>
                <p class="big-title-left">без высшего образования</p>
                <p class="small-title-left">Первый русскоязычный сервис для поиска</p>
                <p class="small-title-left">работы в IT без высшего технического</p>
                <p class="small-title-left">образования.</p>
            </div>
            <div class="title-container-right">
                <p class="big-title-right">58% вакансий в IT </p>
                <p class="big-title-right">не требуют ВО.*</p>
                <p class="small-title-right">* вывод на основе анализа вакансий</p>
                <p class="small-title-right">сервиса для поиска работы</p>
            </div>
        </div>
        <div class="tags">
            <div class="tech-tags-container">
                <p class="tags-text">Технологии</p>
                <div class="tech-tags"></div>
            </div>
            <div class="type-tags-container">
                <p class="tags-text">Тип</p>
                <div class="type-tags"></div>
            </div>
            <div class="city-tags-container">
                <p class="tags-text">Город</p></div>
        </div>
        <div id="paid-vacancies"></div>
        <div id="vacancies"></div>
        <div id="loadbtn-container"></div>
        <div class="footer"></div>

        <script type="text/javascript">
            // see static/index.js for more information

            // add tags
            const techtags = ['Python', 'Java', 'JavaScript', 'C#', 'C++', 'Go', 'PHP']
            const typetags = ['Fullstack', 'Frontend', 'Backend', 'Mobile', 'Junior']

            for (const t of techtags) {
                $('.tech-tags').append(`<input class="tech" type="button" onclick="app.handlers.setRequest(this);app.handlers.sendRequest()" value="${t}" />`)
            }
            for (const t of typetags) {
                $('.type-tags').append(`<input class="type" type="button" onclick="app.handlers.setRequest(this);app.handlers.sendRequest()" value="${t}" />`)
            }

            // add city tags
            $('.city-tags-container').append(components.cityDropdownMenu())

            app.handlers.addLoadButton({{ pages }})

            // set initial vacancies and csrf token
            app.handlers.setPaidVacancies({{ paid|safe }});
            app.handlers.setVacancies({{ jobs|safe }})
            utils.csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            {
                let billId = localStorage.getItem('nocsdegreeru.hashedjob')
                if (billId !== null) {
                    console.log('its not null!! ' + billId)
                    hiring.handlers.verifyBill(billId)
                }
            }

            // handle dropdown-menu logic
                $(".dropdown-menu a").on('click', function(e) {
                e.preventDefault();
                let city = $(this).text();
                document.getElementById('dd-button').innerHTML = city + " " + "<span class='caret'></span>"
                // request object is from static/script.js
                app.state.request.tags.city = city
                console.log(app.state.request)
                app.handlers.sendRequest()
            })
        </script>
    </body>
</html>